.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
}

.has-purple-background {
    background-color: purple;
    border: 1px solid #721EE3;
}

.has-gold-background {
    background-color: gold;
    border: 1px solid #E38C1E;
}

.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
